<div class="story-bar {{ include.bar_class }}">
  <div class="teaser">{% include solutions/{{ include.story_name }}/teaser.html %}</div>

  <div class="story">
    <div class="desc">
      <h3>The Problem</h3>
      <div class="problem">
        {% include solutions/{{ include.story_name }}/problem.html %}
      </div>
      <h3>The Solution</h3>
      <div class="solution">
        {% include solutions/{{ include.story_name }}/solution.html %}
      </div>

      <div class="story-link">
        <a href="/solutions/{{ include.story_name }}" class="btn btn-default btn-lg" role="button">Read more</a>
      </div>
    </div>

    <div class="image" id="{{ include.story_name }}">
      <img src="/assets/img/spacer_lg.png" />
      <div class="featured-img">
        <img src="/assets/img/{{ include.story_image }}_lg.png" />
      </div>
    </div>
  </div>
</div>
