---
layout: ka_layout
---
<div id="about">
  <div class="off-header">
    <div>
      <div class="off-image">
        <img src="/assets/img/our_team.png" alt="Our Geeky Team" />
      </div>

      <div class="off-text">
        <p>We are a unique group. We actually <em>like</em> the tax law. The more complex, the better. Sometimes, we even memorize Code & Reg Section numbers. If there was a dictionary entry for the term <span class="emphasis">"tax geek,"</span> our pictures would be next to the definition!</p>
      </div>
    </div>
  </div>
</div>

<div id="employees">
  {% include team/ejk.html %}

  {% include team/rlp.html %}

  {% include team/tla.html %}
</div>
