// colors
$brightGreen: #95C11F; /* logo, etc. */
$burntUmber: #A65D31; /* charitableplanning.com */

// neutrals
$white: #FFFFFF;
$dragonsBreath: #56534B; /* dark gray (kitchen) */
$dragonsBreath70: #898682; /* 70% of dark gray (kitchen) */
$dragonsBreath60: #A8A39E; /* 60% of dark gray (kitchen) */
$dragonsBreath45: #B3B1AE; /* 45% of dark gray (kitchen) */
$waynesboroTaupe: #A69B8E; /* dark taupe (dining room) */
$waynesboroTaupe20: #F5F4F2; /* light taupe (dining room) */
$londonFog: #CDC8BE; /* light gray (living room) */
$lightGray: #EEEEEE;
$lightGray2: #FAFAFA;
