<div id="audience" class="half-row">
  <div class="half-cell half-text">
    <div class="title">audience</div>
      <div class="audience-group">
        <div class="audience-img">
          <img src="/assets/img/person.png" alt="" />
        </div>

        <div class="audience-desc">
          <div>Individuals</div>
          <p>
            Whether our client is a charity or a professional, our work revolves
            around the high-net-worth individuals and their families.
          </p>
        </div>
      </div>

      <div class="audience-group">
        <div class="audience-img">
          <img src="/assets/img/heart.png" alt="" />
        </div>

        <div class="audience-desc">
          <div>Charities</div>
          <p>
            Major charities across the nation regularly consult with us on
            specific donor gifts and how the organization can enhance its planned
            giving program.
          </p>
        </div>
      </div>

      <div class="audience-group">
        <div class="audience-img">
          <img src="/assets/img/tie.png" alt="" />
        </div>

        <div class="audience-desc">
          <div>Professionals</div>
          <p>
            Because our area is so specialized, other professionals often come
            to us for speaking engagements, assistance and advice.
          </p>
        </div>
      </div>
    </div>

  <div class="half-cell">
    <img src="/assets/img/handshake.png" alt="" />
  </div>
</div>
