<div id="client-needs" class="container-fluid">
  <div class="off-header">
    <div>
      <div class="off-image">
        <img src="/assets/img/our_needs.png" alt="Our Client Needs" />
      </div>

      <div class="off-text">
        <p>
          Sometimes it is hard to know when to call the professionals.
          We have found that individuals often have the greatest need for our
          services when they are going through, or about to go through,
          a significant <span class="emphasis">life event</span> (see our abridged list below).
          Don't miss out on an opportunity because you failed to recognize it!
        </p>
      </div>
    </div>
  </div>
</div>

<div id="call-us" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img src="/assets/img/hanging_phones.jpg" alt="" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="heading">Call Us</div>
      <div id="subheading">When you want to ...</div>
      <ul>
        <li>sell a S-stock and C-stock business &bull; sell an LLC and partnership</li>
        <li>merge with or acquire another business &bull; sell business assets &bull; sell farm equipment</li>
        <li>sell commerical property &bull; sell real estate on which accelerated depreciation has been taken</li>
        <li>sell a second home or vacation home &bull; sell a farm &bull; sell an apartment building</li>
        <li>liquidate one asset to reinvest in another asset &bull; avoid ordinary income taxes &bull; plan for retirement</li>
        <li>dispose of a life insurance policy &bull; dispose of guitar in the attic</li>
        <li>exchange highly appreciated equity for a fixed income &bull; diversify highly appreciated assets</li>
        <li>pay for long-term care &bull; delay income until retirement years &bull; pay down debt</li>
        <li>use the sale of a business and part of the stock in the company to pay down debt</li>
        <li>plan your estate &bull; transfer estate tax dollars to charity rather than to the government</li>
        <li>make gifts to a brother or a friend &bull; plan your corporate taxes</li>
        <li>strip cash from your business at a low cost &bull; provide for a special needs child</li>
        <li>protect your business in the midst of a divorce &bull; plan for a noncitizen spouse</li>
        <li>avoid income and estate taxes &bull; fund charitable pledges &bull; benefit charity</li>
        <li>create a business succession plan &bull; transfer corporate stock to children</li>
        <li>pass business along to next generation &bull; and much more.</li>
      </ul>
    </div>
  </div>
</div>
