<div id="end-products" class="half-row">
  <div class="half-cell">
    <img src="/assets/img/document_signing.png" alt="" />
  </div>

  <div class="half-cell half-text">
    <div class="title">end products</div>
    <ul>
      <li>Last Will and Testament</li>
      <li>Health Care Directives</li>
      <li>Powers of Attorney</li>
      <li>Revocable Living Trusts</li>
      <li>Irrevocable Life Insurance Trusts</li>
      <li>Dynasty (multigenerational) Trusts</li>
      <li>Shari&#772;&#8216;ah compliance</li>
      <li>Private Foundations</li>
      <li>Private Operating Foundations</li>
      <li>Public Charities</li>
      <li>Type I, II and III Supporting Organizations</li>
      <li>Tax exempt status</li>
      <li>Real Estate Pooled Income Funds</li>
      <li>Charitable Remainder Trusts</li>
      <li>Charitable Lead Trusts</li>
      <li>Private Letter Ruling requests</li>
      <li>Buy-sell agreements</li>
      <li>Bank loan transactions</li>
      <li>Estate administration</li>
      <li>Trust administration</li>
      <li>and much more</li>
    </ul>
  </div>
</div>
