<div id="products">
  <div>
    <div class="product">
      <a href='https://www.charitableplanning.com/plans/2' target="_blank">
        <img src="/assets/img/commentary.png" alt="" />
      </a>
      <div class="product-heading">Commentary</div>
      <div class="product-text">A daily digest of news and information, expertly
        focused to provide you with a razor-sharp view of the impact on industry, the
        law, and most importantly, the context surrounding the information.
      </div>
    </div>

    <div class="product">
      <a href='https://www.charitableplanning.com/plans/3' target="_blank">
        <img src="/assets/img/library.png" alt="" />
      </a>
      <div class="product-heading">Library</div>
      <div class="product-text">A comprehensive and ever-growing collection
        of full-text, public-domain documents from an extensive array of governmental and
        other public sources, kept current daily by our proprietary technology.
      </div>
    </div>

    <div class="product">
      <a href='https://www.charitableplanning.com/plans/4' target="_blank">
        <img src="/assets/img/calculations.png" alt="" />
      </a>
      <div class="product-heading">Calculations</div>
      <div class="product-text">A collection of expertly developed, highly-accurate,
        industry-specific calculations that help you quickly get down to the dollars and
        cents of a charitable gift.
      </div>
    </div>

    <div class="product">
      <a href='https://www.charitableplanning.com/plans/6' target="_blank">
        <img src="/assets/img/handbook.png" alt="" />
      </a>
      <div class="product-heading">Handbook</div>
      <div class="product-text">A definitive guide to the world of charitable planning
        for the novice and the expert alike, the Handbook contains up-to-date
        information on industry-related law and resources.
      </div>
    </div>
  </div>
</div>
