<div id="charitableplanning">
  <div class="off-header">
    <div class="line">

      <div class="off-image">
        <img src="/assets/img/our_website.png" alt="Our Educational Website" />
      </div>

      <div class="off-text">
        <p>Several years ago, we saw a gap in our industry. Tax attorneys, financial planners, accountants and development officers needed resources. The few materials that were available were incomplete. Other tools were non-existent. So we created them. <em>The</em> website for professional advisors: <a href="http://www.charitableplanning.com"><span class="emphasis">CharitablePlanning.com</span></a>.</p>
      </div>
    </div>
  </div>

  <div>
    <a href="http://www.charitableplanning.com"><img src="/assets/img/charitableplanning.png" alt="" /></a>
  </div>

  <div id="desc">
    CharitablePlanning.com is an online tool for planning professionals seeking to manage their research, save time and make educated decisions.
  </div>

  {% include index/charitableplanning_products.html %}
</div>
