<div id="approach">
  <div class="off-header">
    <div class="line">

      <div class="off-image">
        <img src="{{site.baseurl}}/assets/img/our_approach.png" alt="Our Holistic Approach" />
      </div>

      <div class="off-text">
        <p>Have you ever had a personal problem that impacted your work? Or a financial problem that impacted your estate? The areas of your life are not mutually exclusive. Why should your advisors be? We provide <span class="emphasis">interdisciplinary insight</span> and <span class="emphasis">oversight.</span></p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <img src="{{site.baseurl}}/assets/img/venn_diagram.png" alt="" />
  </div>
</div>
