<div id="triple-threat">
  <div>
    <div class="point">
      <img src="{{site.baseurl}}/assets/img/united_states.png" alt="" />
      <div class="point-heading">Nationally<br>Recognized</div>
      <div class="point-text">Emil Kallina frequently speaks to professionals and donors all over the United States.</div>
      <img src="{{site.baseurl}}/assets/img/point_line.png" alt="" />
    </div>
    <div class="point">
      <img src="{{site.baseurl}}/assets/img/light_bulb.png" alt="" />
      <div class="point-heading">Innovative<br>Solutions</div>
      <div class="point-text">We are known for finding creative answers to a variety of complex problems.</div>
      <img src="{{site.baseurl}}/assets/img/point_line.png" alt="" />
    </div>
    <div class="point">
      <img src="{{site.baseurl}}/assets/img/brief_case.png" alt="" />
      <div class="point-heading">Experienced<br>Professionals</div>
      <div class="point-text">Established in 1982, we have over 30 years of experience in the charitable world.</div>
      <img src="{{site.baseurl}}/assets/img/point_line.png" alt="" />
    </div>
  </div>
</div>
