<div class="story-bar first">
  <div class="teaser">{% include solutions/undeveloped_property/teaser.html %}</div>

  <div class="story">
    <div class="desc">
      <h3>The Problem</h3>
      <div class="problem">
        {% include solutions/undeveloped_property/problem.html %}
      </div>
      <h3>The Solution</h3>
      <div class="solution">
        {% include solutions/undeveloped_property/solution.html %}
      </div>

      <div class="story-link">
        <a href="/solutions/undeveloped_property" class="btn btn-default btn-lg" role="button">Read more</a>
      </div>
    </div>

    <div class="image" id="undeveloped_property">
      <img src="/assets/img/spacer_lg.png" />
      <div class="featured-img">
        <img src="/assets/img/surveyor_lg.png" />
      </div>
    </div>
  </div>
</div>
