<div id="footer">
  <a name="contact"></a>

  <div class="off-header">
    <div class="line">

      <div class="off-image">
        <img src="{{site.baseurl}}/assets/img/our_information.png" alt="Our Contact Information" />
      </div>

      <div class="off-text">
        <p>We would be happy to speak with you! Feel free to give us
        a call or send us a detailed message using the form below. We are interested
        in your feedback. And don't forget to tell us what you think of our website!</p>
      </div>
    </div>
  </div>

  {% include layouts/contact.html %}

  <div id="printable-contact">
    <div>Kallina &amp; Associates, LLC
      &bull; 100 West Road, Suite 202 &bull; Towson, Maryland 21204</div>
    <div><span class="small">phone</span> 410.377.2170
      &bull; <span class="small">fax</span> 443.797.1147</div>
    <div><br />Office Hours: Monday to Friday, 8 am &mdash; 5 pm</div>
  </div>

  <div id="copyright">
    Copyright &copy; 2007-{{ 'now' | date: "%Y" }} Kallina &amp; Associates, LLC
    <span>
      <a href="/disclaimer">Disclaimer</a> |
      <a href="/privacy">Privacy</a>
    </span>
  </div>
</div>
