<div id="header">
  <div id="header-row">
    <div id="logo">
      <a href='/'>
        <img src="/assets/img/logo_full.png" alt="Kallina & Associates, LLC" />
      </a>
    </div>

    <div id="menu">
      <ul id="menu-items" class="clearfix">
        <li>
          <img src="/assets/img/menu_dropdown.png" alt="Menu" />
          <ul>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/"><img src="/assets/img/home.png" alt="Home" /></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
