<div class="employee-row person">
  <div class="person-info">
    <div>
      <div class="name">Emanuel ("Emil") J. Kallina, II</div>
      <div class="role">Managing Member</div>
    </div>
  </div>
</div>

<div class="employee-row">
  <div class="bio">
    <div class="pull-right"><img src="/assets/img/ejk.png" /></div>

    <div class="personal-contact">
      <div>Licensed in Maryland and Washington, D.C.</div>
      <div>ejk@kallinalaw.com</div>
      <div>410.377.2170 x 223</div>
    </div>

    <p>Emanuel ("Emil") J. Kallina, II was educated at Bowdoin College (BA), the University of Maryland School of Law
    (J.D.), and New York University School of Law (LL.M. in Taxation). He is licensed to practice
    law in Maryland and the District of Columbia, and is admitted to practice before the U.S. Fourth
    Circuit Court of Appeals, the U.S. District Court for the Districts of Maryland and D.C., and
    the U.S. Tax Court.</p>

    <p>While Mr. Kallina currently focuses his practice on estate and charitable planning for high
    net worth individuals, he has practiced extensively over the years in the related fields of
    business law, corporate tax law, partnerships, and real estate.</p>

    <p>Mr. Kallina is a co-founder and member of the Board of Directors of the Planned Giving Design
    Center (www.pgdc.net), a former member of the Board of Directors of the National Committee on
    Planned Giving ("NCPG"), former Chairman (5 years) of the Government Relations Committee of the
    NCPG, a co-founder of the Chesapeake Planned Giving Council, Chairman of the Board and President
    of The James Foundation, a member of the Board of Directors of Search Ministries, Inc., a member
    of the Board of Directors of the Smith Barney Charitable Trust, and a member of the boards of
    trustees or directors of a number of other non-profits.  He is frequently an expert witness
    on estate planning and charitable matters.</p>

    <p>Mr. Kallina has testified on a number of occasions before the IRS on pending matters, has
    worked extensively with the staff of the various Congressional committees regarding charitable
    legislation, and heads a national group of charitable giving practitioners that meets informally
    with the IRS to discuss ruling policy in the planned giving area.</p>

    <p>Mr. Kallina is a nationally recognized speaker on estate planning and charitable giving and
    a frequent author on these topics.</p>
  </div>
</div>
