<div class="employee-row person">
  <div class="person-info">
    <div>
      <div class="name">Robert ("Bob") L. Perez</div>
      <div class="role">Of Counsel</div>
    </div>
  </div>
</div>

<div class="employee-row">
  <div class="bio">
    <div class="pull-right"><img src="/assets/img/blp.png" /></div>

    <div class="personal-contact">
      <div>Licensed in Louisiana</div>
      <div>rperez@pmfllp.com</div>
      <div>504.717.4638</div>
    </div>

    <p>Robert ("Bob") L. Perez is a recently retired Tax Partner who practiced in the New Orleans office of KPMG LLP
    for 33 years. Mr. Perez served as the Partner in Charge of KPMG's Personal Financial Planning Training,
    as a member of KPMG's estate planning "think tank," as the National Director of Technical Tax Services
    for Estates and Trusts, as a Director of the KPMG Family Wealth Institute, and as a member of the PFP
    Technology Team. He currently serves on the AICPA Committee for Trust, Estate and Gift Taxation. He
    specialized in providing individual income tax and estate tax planning services to corporate executives
    and high net worth individuals. Mr. Perez also has significant experience with charitable organizations.</p>

    <p>Mr. Perez is a New Orleans native and he and his wife Laura have eight children and seven
    grandchildren. He is a graduate of Jesuit High School and received his Bachelor of Business Administration
    from Loyola University in 1965 and Juris Doctor from Loyola University Law School in 1967. Mr. Perez
    joined KPMG LLP in 1970 and was elected to the Partnership in 1977. He is a licensed attorney and
    certified public accountant in Louisiana. He is a member of the American Institute of Certified Public
    Accountants, the Society of Louisiana Certified Public Accountants, National Committee on Planned Giving,
    and the Louisiana State Bar Association. He has been awarded the Personal Financial Specialist (PFS)
    designation by the AICPA and the Accredited Estate Planner (AEP) designation by the National Association
    of Estate Planners.</p>
  </div>
</div>
