<div class="employee-row person">
  <div class="person-info">
    <div>
      <div class="name">Tara Lynn Angulo</div>
      <div class="role">Paralegal</div>
    </div>
  </div>
</div>

<div class="employee-row">
  <div class="bio">
    <div class="picture"><img src="/assets/img/tla.png" class="pull-right" /></div>

    <div class="personal-contact">
      <div>tla@kallinalaw.com</div>
      <div>443.991.5527</div>
    </div>

    <p>Tara L. Angulo received her Bachelor of Science degree in Criminal Justice Studies, with a focus on Human Services Administration, from the University of Phoenix, AZ, in 2012. She also obtained her Master of Arts degree in Law, with a focus on Advanced Paralegal Studies, from Regent University, VA, in 2020. Mrs. Angulo has a wide range of legal skills acquired both academically and professionally. She is a current member of the National Association of Charitable Gift Planners and has attended numerous seminars on charitable and estate planning. She has also obtained her Chartered Advisor in Philanthropy (CAP) Designation with the American College of Financial Services. Mrs. Angulo is currently attending Vermont Law and Graduate School, where she is pursuing her Juris Doctorate. She is expected to graduate with the Class of 2026.</p>

    <p>Mrs. Angulo is originally from Rhode Island, but has lived in over six states, as her husband is an active-duty member of the United States Marine Corps. They currently reside in Oceanside, CA. They share two children. Mrs. Angulo has not always been in charitable and estate planning, previously gaining some experience in contract and employment law shortly after graduating with her MA. She also has extensive knowledge and expertise in logistics and inventory management, both in the medical and aerospace fields.</p>
  </div>
</div>
